
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
i{
    font-size: 2.5rem;

}
.container{
    width: 400px;
    min-height: 200px;
    background-color: #333;
    color: white;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}
.content{
    display: flex;
    padding: 20px;
    justify-content: center;
    gap: 30px;
    padding-top: 40px;
}
i:hover{
    color: lightblue;
}